ul {
	list-style: none;
	background: rgba(0, 0, 0, 0.11);
    padding: 10px;
    border-color: rgba(0, 0, 0, 0.27);
    border-style: solid;
	margin-bottom: 100px;
	box-shadow: 7px 7px 3px rgba(8, 8, 8, 0.73);
}

#blog-posts{
    /*display: inline-block;*/
    max-width: 830px;
	min-width: 300px;
    width: 80%;
    margin: 0 auto;
}

#bottom{
	background: gray;
	height:50px;
	color: white;
	padding-left: 30%;
}

#bottom2{
	background: rgba(0, 0, 0, 0.78);
	height:25px;
	text-align: center;
}

#bottom2 a{
	position: relative;
	color: white;
	text-decoration: none;
}

#bottom2 a:hover{
	color: white;
}
