<!-- the margin-bottom 40% is to get the footer to bottom-->
<div style="margin-bottom: 40%;" class="wrapper">
  <div class="div-register">
    <h2 style="font-weight: bold;" class="form-register-heading">Register</h2>
    <input [(ngModel)] = "username"
   	style="margin-bottom: 15px;" type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
    <input [(ngModel)] = "password"
	type="password" class="form-control" name="password" placeholder="Password" required="" />
    <button class="btn btn-lg btn-primary btn-block" (click)="register()">Register</button>
	<div style="text-align: center; margin-top: 10px; margin-bottom: -30px;">
			<a *ngIf="message" style="font-weight:bold; text-decoration:none;"
				[style.color] = "_color"	
				>{{message}}</a>
	</div>
  </div>
</div>
